html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.container {
    max-width: 750px;
}

.dashboard-header {
    max-width: 650px;
}

.card-deck .card {
    min-width: 200px;
}